<server>   
     <httpEndpoint id="defaultHttpEndpoint" host="*" httpsPort="9443" httpPort="9080" />
   
    <featureManager>      
      <feature>openidConnectServer-1.0</feature>      
      <feature>ldapRegistry-3.0</feature>
      <!-- if this server will delegate authentication another
           provider that is not LDAP, then one of these features
           could be needed:
      -->
      <!-- <feature>socialLogin-1.0</feature>-->
      <!-- <feature>openidConectClient-1.0</feature> -->
      <!-- <feature>samlWeb-2.0</feature> -->
    </featureManager>

    <oauth-roles>
        <authenticated>
            <special-subject type="ALL_AUTHENTICATED_USERS" />  
        </authenticated>
    </oauth-roles>
    
    <!-- Basic registry for test / development use.  
         Comment this out if using LDAP or delegating to another 
         Oauth or SAML provider. 
         
    -->   
    <basicRegistry id="basic" realm="customRealm">
        <user
          name="${env.OIDCP_TEST_USER}"
          password="${env.OIDCP_TEST_USER_PASSWORD}" />
        <user
          name="${env.OIDCP_ADMIN_USER}"
          password="${env.OIDCP_ADMIN_USER_PASSWORD}" />
    </basicRegistry>

    <!-- LDAP example.  Customize and uncomment to use LDAP user authentication.
         Comment out basic registry. 
    -->
    <!--
    <ldapRegistry
      id="ldap"
      realm="SampleLdapIDSRealm"
      host="oidcldap1.some.where.ibm.com"
      port="389"
      ignoreCase="true"
      baseDN="o=ibm,c=us"
      bindDN="cn=root"
      bindPassword="rootpwd"
      ldapType="IBM Tivoli Directory Server"
      searchTimeout="8m" >
      <idsFilters groupFilter="(&amp;(cn=%v)(|(objectclass=groupOfNames)(objectclass=groupOfUniqueNames)))"
        groupIdMap="*:cn"
        groupMemberIdMap="ibm-allGroups:member;ibm-allGroups:uniqueMember;groupOfNames:member;groupOfUniqueNames:uniqueMember"
        id="TestLdap"
        userFilter="(&amp;(uid=%v)(objectclass=ePerson))"
        userIdMap="*:mail"/>
      <failoverServers name="failoverLdapServers">
        <server
          host="nc049244.some.where.ibm.com"
          port="389" />
      </failoverServers>
    </ldapRegistry>
    -->   
    
    <openidConnectProvider id="OIDC" 
        oauthProviderRef="OAuth" 
        signatureAlgorithm="RS256" keyStoreRef="defaultKeyStore" 
        customClaims="phone, email, preferredName" jwkEnabled="true" 
        issuerIdentifier="https://${env.OIDCP_INGRESS_HOST}/oidc/endpoint/OIDC"
        >
        <claimToUserRegistryMap email="mail"/>
        <claimToUserRegistryMap phone="mobile"/> 
        <claimToUserRegistryMap preferredName="givenName"/>
    </openidConnectProvider>
    
    <oauthProvider id="OAuth" tokenFormat="mpjwt">
         <!-- localStore for test / development use. 
         When this is used, all client data and token status is held
         in memory.  This container can only be a singleton when this is
         used.
         Comment out localStore when using a database.
         --> 
        <localStore>
          <!-- When using a database, clients are not speicified in server.xml.
               Instead they are added to the database through the registration endpoint.
          -->
          <client displayname="clusterConfig" enabled="true"
                name="${env.OIDCP_CLIENT_ID}" secret="${env.OIDCP_CLIENT_SECRET}" 
                scope="openid profile scope1 email phone address"
                allowRegexpRedirects="true" >
                <redirect>regexp:https://${env.OIDCP_INGRESS_HOST_REGEX}:3!d!d!d!d/oidcclient/redirect/rp</redirect>
                <redirect>https://${env.OIDCP_INGRESS_HOST}/oidcclient/redirect/rp</redirect>
          </client>
    
          <client displayname="customClient" enabled="true"
                name="${env.OIDCP_CUSTOM_CLIENT_ID}" secret="${env.OIDCP_CUSTOM_CLIENT_SECRET}" 
                scope="openid profile scope1 email phone address"
                allowRegexpRedirects="false" >
                <redirect>${env.OIDCP_CUSTOM_CLIENT_REDIRECT}</redirect>
          </client>
        </localStore>
  <!-- uncomment below line when using a database -->
  <!-- <databaseStore dataSourceRef="OAuth2DataSource" /> -->
    </oauthProvider>
     
    <!-- ClientManagers can add new clients when using a database.
         When using a localStore, clients are added by editing server.xml,
         and this should be commented out.
    -->  
    <!--
    <clientManager>
      <user name="some-user-here" />
      <group name="some-group-here" />
    </clientManager>
    -->
    
    <!-- sample database configuration -->
    <!--
    <dataSource id="OAuth2DataSource" 
        jdbcDriverRef="mysql-driver" 
        jndiName="jdbc/OAuth2DB" transactional="true" 
        type="javax.sql.ConnectionPoolDataSource">
        <connectionManager
          maxPoolSize="100"
          minPoolSize="0"
          connectionTimeout="20s"
          agedTimeout="9m"/>
        <properties
          databaseName="OAuthDBSchema"
          user="${env.OAUTH2DB_USER}"
          password="${env.OAUTH2DB_PASSWORD}"
          portNumber="${env.OAUTH2DB_DB_PORT}"
          serverName="${env.OAUTH2DB_DB_HOST}"/>
    </dataSource>

    <jdbcDriver id="mysql-driver"
        javax.sql.XADataSource="org.mariadb.jdbc.MySQLDataSource"
        javax.sql.ConnectionPoolDataSource="org.mariadb.jdbc.MySQLDataSource"
        libraryRef="mysql-library" />
    
    <library id="mysql-library">
        <fileset id="mysql-fileset" dir="/config/lib" />
    </library>
    <jdbcDriver id="mysql-driver"
        javax.sql.XADataSource="org.mariadb.jdbc.MySQLDataSource"
        javax.sql.ConnectionPoolDataSource="org.mariadb.jdbc.MySQLDataSource"
        libraryRef="mysql-library" />      
    -->  
 
    
     
    <!-- Error messages are produced for failed logins, this trace spec provides a record of successful logins. -->
    <logging  traceSpecification="com.ibm.ws.security.oauth20.internal.LibertyOAuth20Provider=all:com.ibm.ws.security.mp.jwt.proxy.MpJwtHelper=all"
      traceFileName="trace.log" maxFileSize="20" maxFiles="10" />

</server>
