sudo: required

language: bash

services:
  - docker

before_install:
  - sudo apt-get update
env:
  - RELEASE=../ga/22.0.0.6
  - RELEASE=../ga/22.0.0.10
  - RELEASE=../ga/latest

script:
- uname -a
- cat /etc/issue
- pwd
- cd test
- ./buildAll.sh $RELEASE
